#{extends 'main.html' /}
#{set title:'Inscription' /}
#{if flash.success}
            <p class="success">&{'success'}</p>
        #{/if}
        #{else}
<div>
    #{form @Inscription.postInscription()}
        
        
	    <p>
	        <label for="name">&{'name'}: </label>
	        <input type="text" name="nom" id="nom" value="${flash.nom}" />
	        <span class="error">#{error 'nom' /}</span>
	    </p>
	    <p>
	        <label for="firstName">&{'firstName'}: </label>
	        <input type="text" name="prenom" id="prenom" value="${flash.prenom}"/>
	        <span class="error">#{error 'prenom' /}</span>
	    </p>
	    <p>
	        <label for="phoneNumber">&{'phoneNumber'}: </label>
	        <input type="text" name="tel" id="tel" value="${flash.tel}" />
	        <span class="error">#{error 'tel' /}</span>
	        <span class="error">#{error 'phone' /}</span>
	    </p>
	    <p>
	        <label for="email">email: </label>
	        <input type="text" name="mail" id="mail" value="${flash.mail}"/>
	        <span class="error">#{error 'mail' /}</span>
	    </p>
	    <p>
	        <label for="comments">Remarques: </label>
	        <textarea name="commentaire" id="commentaire" value="${flash.commentaire}"></textarea>
	    </p>
	    <p>
	        <input type="submit" value="S'inscrire" />
	    </p>
	    
    #{/form}
    <div>un email de confirmation vous sera envoyé.<div>
    #{/else}
</div>