#{extends 'main.html' /}
#{set title:'Programme' /}

#{if laterProgrammes}
        <div class="later-programme">
            #{list items:laterProgrammes, as:'laterProgramme'}
                <div class="programme">
			        <h2 class="titre-programme">${laterProgramme.title}</h2>
			        <div class="programme-metadata">
			            <span class="programme-date">début : ${laterProgramme.begin.format('dd MMM HH:mm')} - </span>
			            <span class="programme-date">fin : ${laterProgramme.end.format('dd MMM HH:mm')}</span>
			        </div>
			    </div>
            #{/list}
        </div>
#{/if}

#{else}
    <div class="empty">
        Aucun programme n'est prévu.
    </div>
#{/else}