#{extends 'main.html' /}
#{set title:'Admin' /}

<script>
$(document).ready(function(){
	  $("#flashSuccess").delay(3000).slideUp(500);
	});

</script>

#{if flash.success}
    <p id="flashSuccess" class="success">${flash.success}</p>
#{/if}   
#{if users.size > 0}
    <h2>Utilisateurs inscrits</h2>
    <a href="@{Admin.exportUsers()}"><button class="btn">Export to csv</button></a>
        <table>
	        <tr>
	            <th>Nom</th>
	            <th>Prenom</th>
	            <th>Tel</th>
	            <th>Mail</th>
	        </tr>
	        #{list items:users, as:'user'}
	           
	            <tr>
	               #{form @Admin.editUser(user.id)}
	                    <td><input type="text" name="nom" value="${user.name}"/></td>
	                    <td><input type="text" name="prenom" value="${user.firstName}"/></td>
	                    <td><input type="text" name="tel" value="${user.phoneNumber}"/></td>
	                    <td><input type="text" name="mail" value="${user.mail}"/></td>
	                    <td><input type="submit" class="btn" value="Save"/></td>
                    #{/form }
                    <td><a href="@{Admin.deleteUser(user.id)}"><button class="btn">Remove</button></a></td>
                </tr>
                
	        </table>
	        #{/list}
#{/if}

#{else}
    Pas d'utilisateur
#{/else}