<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
    	<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    	<script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
    	<script>
    		$(function() {
        		$( "#tabs" ).tabs();
    		});
    	</script>
    </head>
    <body>
    	<div class="container head">
            <img src="@{'/public/images/front.jpeg'}"/>
        </div>
        <div id="tabs">
			<ul>
			    <li><a href="@{Application.index()}">Présentation</a></li>
			    <li><a href="@{Application.inscription()}">Inscription</a></li>
			    <li><a href="@{Application.programme()}">Programme</a></li>
	            <li><a href="@{Application.association()}">Association</a></li>
                #{if session.get('admin.identifiant')}
                    <li><a href="@{Mailing.show()}">Mailing</a></li>
                    <li><a href="@{Admin.desinscription()}">Désinscription</a></li>
                    <li><a href="@{Admin.listUser()}">Admin</a></li>
                #{/if}
                #{else}
    	            <li><a href="@{Application.connection()}">Connection</a></li>
    	        #{/else}
		    </ul>
		    #{if session.get('admin.identifiant')}
		      #{form @Admin.logout()}
		      <div>
		          Connect as ${session.get('admin.identifiant')}
		          <a href="@{Admin.logout()}">Déconnection</a>
		      </div>
		      #{/form}
		    #{/if}	       
        </div>
         #{doLayout /}
    </body>
</html>
