<!DOCTYPE html>

<html>
<head>
<title>#{get 'title' /}</title>
<meta charset="${_response_encoding}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/main.css'}">
#{stylesheet "bootstrap.min.css" /} #{get 'moreStyles' /}
<link rel="shortcut icon" type="image/png"
	href="@{'/public/images/favicon.png'}">
<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<!--         <script src="@{'/public/javascripts/bootstrap.min.js'}" type="text/javascript" charset="${_response_encoding}"></script> -->
#{get 'moreScripts' /}


</head>
<body>
	<div class="container head">
		<img src="@{'/public/images/front.jpeg'}" />
	</div>

	<div class="container">
		<div id="bandeau">
			#{if session.get('admin.identifiant')} #{form @Admin.logout()}
			<div style="float:right">
				Connect as ${session.get('admin.identifiant')} <a
					href="@{Admin.logout()}">Déconnection</a>
			</div>
			#{/form} #{/if}
			<ul class="nav nav-tabs">
				<li class="${request.controller == 'Application' ? '' : 'in'}active"><a
					href="@{Application.index()}">Présentation</a></li>
				<li class="${request.controller == 'Inscription' ? '' : 'in'}active"><a
					href="@{Inscription.inscription()}">Inscription</a></li>
				<li class="${request.controller == 'Programme' ? '' : 'in'}active"><a
					href="@{Programme.programme()}">Programme</a></li>
				<li class="${request.controller == 'Association' ? '' : 'in'}active"><a
					href="@{Association.association()}">Association</a></li> #{if
				session.get('admin.identifiant')}
				<li><a href="@{Mailing.show()}">Mailing</a></li>
				<li><a href="@{Admin.listUser()}">Admin</a></li> #{/if} #{else}
				<li><a href="@{Admin.connection()}">Connection</a></li> #{/else}
			</ul>
		</div>
		#{doLayout /}
	</div>

</body>




</html>
